@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,700');

body {
    display: flex;
    -webkit-align-items: center;
            align-items: center;
    -webkit-justify-content: center;
            justify-content: center;

    font-family: "Open Sans", Arial, sans-serif;
    text-align: center;

    background: #FFF;
}

p {
    margin-top: 2rem;
}

h1,
h2 {
    padding-left: 120px;
    padding-right: 120px;

    text-align: center;
    font-weight: normal;
}

.chart {
    display: inline-block;
    width: 400px;
    height: 300px;
    margin: 20px 20px 0 0;
    position: relative;
    background: #fff;
}

.chartContainer {
    min-height: 320px;
}

.chartContainer.loaded .progress {
    display: none;
}

.progress {
    width: 60%;
}

#bar {
    width: 100%
}
